<div class="home">
	<div class="hero text-center">
		<div class="info">
			<h1>A Maneira Mais Facíl e Eficiente</h1>
			<h1>de Anunciar o Seu Produto</h1>
		</div>
	</div>
	<div class="what-is section text-center">
		<h1>O Que é Easy AD?</h1>
		<div class="row">
			<div class="panel large-4 medium-5 push-1 columns">
				<img src="/Assets/images/icons/multiple25.png">
				<h5>Plataforma Crowdsourcing.</h5>
				<p>Crowdsourcing é um modelo de criação e/ou produção, que conta com a mão-de-obra e conhecimento coletivos, para desenvolver soluções e criar produtos.</p>
			</div>
			<div class="panel large-4 medium-5 pull-1 columns">
				<img src="/Assets/images/icons/multiple25.png">
				<h5>Qualidade a um preço acessível.</h5>
				<p>Contamos com uma comunidade de talentosos profissonais que farão com que seu produto receba o marketing que voce sempre sonhou.</p>
			</div>
		</div>
	</div>
	<div class="section break1 text-center">
		<h1><i>“se tivesse apenas um dólar, investiria em propaganda”.</i></h1>
		<h3>Henry Ford</h3>
	</div>
	<div class="what-you-can-do text-center">
		<h1>Qual meio de comunicação você deseja?</h1>
		<ul class="row">
			<li class="large-2 medium-2 small-6 columns">
				<img src="/Assets/images/icons/news.png">
				<span>Jornal</span>
			</li>
			<li class="large-2 medium-2 small-6 columns">
				<img src="/Assets/images/icons/magazine.png">
				<span>Revista</span>
			</li>
			<li class="large-2 medium-2 small-6 columns">
				<img src="/Assets/images/icons/radio.png">
				<span>Rádio</span>
			</li>
			<li class="large-2 medium-2 small-6 columns">
				<img src="/Assets/images/icons/tv.png">
				<span>Televisão</span>
			</li>
			<li class="large-2 medium-2 small-6 columns end">
				<img src="/Assets/images/icons/internet.png">
				<span>Internet</span>
			</li>
			<li class="large-2 medium-2 small-6 columns">
				<img src="/Assets/images/icons/billboard.png">
				<span>Outdoor</span>
			</li>
		</ul>
	</div>
</div>