<div class="how-it-works-page">
	<div class="section text-center header-info">
		<div class="info">
			<h1>Como EasyAd Funciona</h1>
			<h3>Facíl acesso ao melhor design para seu anúncio</h3>
		</div>
		<hr>
	</div>


	<div class="square-block row">
		<div class="square-block-content large-12 columns">
			<h3>A EasyAd faz com que anúncios profissionais e de qualidade sejam acessíveis para toda a comunidade.</h3>
			<p>O objetivo é fazer com que anúncios de qualidade sejam acessíveis para toda a comunidade, ajudando pequenos e médios empreendedores a divulgar seu produto ou serviço de uma forma profissional porém acessível.</p>
		</div>
	</div>

	<div class="row">
		<span class="arrow"><img src="/assets/images/icons/green-arrow-down.png"></span>
	</div>

	<div class="square-block row">
		<div class="square-block-img large-5 columns">
			<span class="image-container"><img src="/assets/images/icons/describe.png"></span>
		</div>
		<div class="square-block-content large-7 columns">
			<h3>Faça uma breve descrição do seu projeto</h3>
			<p>Diga aos nossos designer sobre o que é seu negocio, produto ou serviço. Através dessas informações nossos profissionais devem enteder do que se trata o anúncio e com você o idealiza.</p>
		</div>
	</div>
	
	<div class="row">
		<span class="arrow"><img src="/assets/images/icons/green-arrow-down.png"></span>
	</div>
	
	<div class="square-block row">
		<div class="square-block-content large-12 columns">
			<h3>Categorize seu projeto</h3>
			<p>Escolha a categoria de seu negócio mais se encaixa. Depois informa qual o meio de comunicação que você deseja publicar seu anúncio. É baseado nessa etapa que o preço da sua competição sera calculado. Você pode usar o valor base para sua competição ou amentar a premiação dela. Lembre-se sempre, quanto mais a premiação, mais os designer vão se emprenhar em desenhar seu proejto</p>
		</div>
	</div>
	
	<div class="row">
		<span class="arrow"><img src="/assets/images/icons/green-arrow-down.png"></span>
	</div>
	
	<div class="square-block row">
		<div class="square-block-content large-7 columns">
			<h3>Publique sua competição</h3>
			<p>Após você determinar o prazo para upload dos projetos, sua competição esta pronta para ser lançada. Sua competição será adicionada a lista de competições abertar e visualizada por nossa comunidade de designers de todas as partes do mundo.</p>
		</div>
		<div class="square-block-img large-5 columns">
			<span class="image-container"><img src="/assets/images/icons/category.png"></span>
		</div>
	</div>
</div>