<div class="how-it-works-page">
	<div class="section text-center header-info">
		<div class="info">
			<h1>Como EasyAd Funciona</h1>
			<h3>Facíl acesso ao melhor design para seu anúncio</h3>
		</div>
		<hr>
	</div>

	<div class="square-block row">
		<div class="square-block-content large-12 columns">
			<h3>A EasyAd faz com que anúncios profissionais e de qualidade sejam acessíveis para toda a comunidade.</h3>
			<p>O objetivo é fazer com que anúncios de qualidade sejam acessíveis para toda a comunidade, ajudando pequenos e médios empreendedores a divulgar seu produto ou serviço de uma forma profissional porém acessível.</p>
		</div>
	</div>

	<div class="row">
		<span class="arrow"><img src="/assets/images/icons/green-arrow-down.png"></span>
	</div>

	<div class="square-block row">
		<div class="square-block-img large-5 medium-5 columns">
			<span class="image-container"><img src="/assets/images/icons/describe.png"></span>
		</div>
		<div class="square-block-content large-7 medium-7 columns">
			<h3>Faça uma breve descrição do seu projeto</h3>
			<p>Diga aos nossos designer sobre o que é seu negocio, produto ou serviço. Através dessas informações nossos profissionais devem enteder do que se trata o anúncio e com você o idealiza.</p>
		</div>
	</div>
	
	<div class="row">
		<span class="arrow"><img src="/assets/images/icons/green-arrow-down.png"></span>
	</div>
	
	<div class="square-block row">
		<div class="square-block-content large-12 columns">
			<h3>Categorize seu projeto</h3>
			<p>Escolha a categoria de seu negócio mais se encaixa. Depois informa qual o meio de comunicação que você deseja publicar seu anúncio. É baseado nessa etapa que o preço da sua competição sera calculado. Você pode usar o valor base para sua competição ou amentar a premiação dela. Lembre-se sempre, quanto mais a premiação, mais os designer vão se emprenhar em desenhar seu proejto</p>
		</div>
	</div>
	
	<div class="row">
		<span class="arrow"><img src="/assets/images/icons/green-arrow-down.png"></span>
	</div>
	
	<div class="square-block row">
		<div class="square-block-content large-7 medium-7 columns">
			<h3>Publique sua competição</h3>
			<p>Após você determinar o prazo para upload dos projetos, sua competição esta pronta para ser lançada. Sua competição será adicionada a lista de competições abertar e visualizada por nossa comunidade de designers de todas as partes do mundo.</p>
		</div>
		<div class="square-block-img large-5 medium-5 columns">
			<span class="image-container"><img src="/assets/images/icons/category.png"></span>
		</div>
	</div>
	
	<div class="row">
		<span class="arrow"><img src="/assets/images/icons/green-arrow-down.png"></span>
	</div>
	
	<div class="square-block-img feedback row">
		<div class="row large-12 columns">
			<div class="text-center large-6 columns">
				<span class="image-container"><img src="/assets/images/icons/feedback.png"></span>
				<h3>Receba dezenas de propostas</h3>
				<p class="text-center">Designer irão submeter seus projetos dia e noite. Visite seu perfil e acompanhe o painel de controle da sua competição diariamente para ver os projetos.</p>
			</div>
			<div class="text-center large-6 columns">
				<span class="image-container"><img src="/assets/images/icons/rating.png"></span>
				<h3>Interaja com os designers</h3>
				<p>Use comentários e mensagens privatas para guiar os denisger. Quando mais retorno você da, mais fácil sera trazer seu anúncio a vida.</p>
			</div>
		</div>
	</div>
	
		<div class="row">
		<span class="arrow"><img src="/assets/images/icons/green-arrow-down.png"></span>
	</div>

	<div class="square-block row">
		<div class="square-block-img large-5 medium-5 columns">
			<span class="image-container"><img src="/assets/images/icons/pick-winner.png"></span>
		</div>
		<div class="square-block-content large-7 medium-7 columns">
			<h3>Escolha seu vencedor</h3>
			<p>Em até 7 dias você escolhe o seu projeto favorito e assina os termos de uso do produto. Nós tranferimos o dinheiro da premiação para o designer. Você baixa a proposta vencedora e usa-a como você preferir</p>
		</div>
	</div>
	
	<div class="row">
		<span class="arrow"><img src="/assets/images/icons/green-arrow-down.png"></span>
	</div>
	
	<div class="square-block-img row">
		<div class="square-block-content row large-12 columns">
			<div class="text-center large-6 medium-6 columns">
				<h3>Trabalhe diretamente com o designer</h3>
				<p class="text-center">Designer irão submeter seus projetos dia e noite. Visite seu perfil e acompanhe o painel de controle da sua competição diariamente para ver os projetos.</p>
			</div>
			<div class="text-center large-6 medium-6 columns">
				<span><img src="/assets/images/icons/work-1-on-1.png"></span>
			</div>
		</div>
	</div>
	<div class="break1 text-center">
		<a href="/competicoes/novo" class="large button download-hero">Comece agora</a>
	</div>
	
	
</div>