<div class="row">
	<div class="large-6 columns large-offset-3">
    <h1 class="text-center"><span class="fa fa-sign-in"></span> Signup</h1>    <!-- LOGIN FORM -->
		<div class="form-group">
				<input type="text" class="form-control" placeholder="Nome do usuario" ng-model="user.name" name="email">
		</div>
		<div class="form-group">
				<input type="password" placeholder="Senha" class="form-control" ng-model="user.password" name="password">
		</div>

		<div class="text-center">
			<button type="submit" ng-click="create()" class="btn btn-warning btn-lg">Signup</button>
			<p>Already have an account? <a href="/login">Login</a></p>
			<p>Or go <a href="/">home</a>.</p>
		</div>
	</div>
</div>