<div class="row login-page login-signup" ng-init="loadSignup()">
	<div class="large-6 medium-6 columns large-offset-3 medium-offset-3">
		<div data-alert class="alert-box warning" ng-show="userTaken != undefined">
			{{userTaken}}
		</div>
		<div data-alert class="alert-box warning" ng-show="error != undefined">
			{{error}}
		</div>
    <h1 class="text-center"><span class="fa fa-sign-in"></span> Registrar-se</h1>    <!-- LOGIN FORM -->
		<div class="form-group">
				<input type="text" class="form-control" placeholder="Seu email" ng-model="user.email" name="email">
		</div>
		<div class="form-group">
				<input type="text" class="form-control" placeholder="Seu nome" ng-model="user.first_name" name="name">
		</div>
		<div class="form-group">
				<input type="text" class="form-control" placeholder="Sobrenome" ng-model="user.last_name" name="name">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Nome do usuário (deve ser único)" ng-model="user.name" name="name">
		</div>
		<div class="form-group">
				<input type="password" placeholder="Sua senha" class="form-control" ng-model="user.password" name="password">
		</div>
		<ul class="options row">
			<li class="large-6 small-12 columns role-buttons">
					<input type="radio" name="option" ng-model="user.role" value="1" checked/>
					<label for="contest.duration">Sou um designer</label>
			</li>
			<li class="large-6 small-12 columns role-buttons">
					<input type="radio" name="option" ng-model="user.role" value="0"/>
					<label for="contest.duration">Sou um usúario</label>
			</li>
		</ul>

		<div class="text-center">
			<button type="submit" ng-click="create()" class="btn btn-warning btn-lg">Criar</button>
			<p>Já tem uma conta? <a href="/login">Login</a></p>
			<p>Ou vá para <a href="/">pagina principal</a>.</p>
		</div>
	</div>
</div>