.header-login-signup .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.top-bar .title-area h1 span {
	color: #5383d3;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 630px)and (-webkit-min-device-pixel-ratio: 2) {
	.login-signup .options li{
		margin-bottom: 10px;
	}
}