.how-it-works-page{
	margin-bottom: 30px;
	min-height: 60vh;
}

.how-it-works-page .header-info .info{
	padding-top: 50px;
}
.how-it-works-page .header-info .info h1{
	font-family: "PT Sans";
	font-size: 52px;
	line-height: 1.2em;
	text-transform: none;
	letter-spacing: 0px;
	font-weight: 700;
	font-style: normal;
	color: #608c28;
}

hr{
	border-style: none;
	border-width: 0;
	margin: 33px auto 63px;
	color: #bbb;
	background-color: #bbb;
	width: 100px;
	height: 5px;
}

.how-it-works-page .arrow{
	padding: 10px;
}

.how-it-works-page .arrow img{
	margin: auto;
	display: block;
}

.how-it-works-page p{
	text-align: justify;
}

.square-block{
	margin: 0 auto 14px;
	font-family: "PT Sans";
	font-size: 18px;
	line-height: 1.6em;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	color: #000;
}

.square-block-img{
	margin: auto auto 15px !important;
}
.square-block-img .image-container{
	display: block;
	padding: 40px;
}

.square-block-img img{
	width: 160px;
	display: block;
	margin: auto;
}

.square-block-content{
	margin: auto !important;
	padding: 14px;
	background-color: #f2f2f2;
	border: 1px solid #608c28;
}

.square-block-content h3{
	color: #575757;
	font-size: 20px;
	line-height: 30px;
	margin: 0 0 16px 0;
	font-style: normal;
	font-weight: bold;
	text-align: left;
}

.square-block-content p{
	line-height: 22px;
	color: #000;
	margin: 0;
}

 .how-it-works-page .break1{
	 background-image: url("/assets/images/break2.jpg");
	 min-height: 400px;
	 margin-top: 40px;
}
.how-it-works-page .break1 .button {
	margin-top: 200px;
	padding: 20px 50;
	border-radius: 4px;
}

.how-it-works-page .tab-links a{
	color: #608c28 !important;
	background-color: transparent !important;
	outline: none;
}

.tabs-content .content{
	padding: 0;
}

.tabs-content .how-title{
	font-size: 44px;
	font-weight: normal;
	color: #565a5c;
}

.how-it-works-page .tabs dd.active a, .tabs .tab-title.active a{
	font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 630px)and (-webkit-min-device-pixel-ratio: 2) {
	
	.how-it-works-page .header-info .info {
		padding-top: 20px;
	}
	
	.how-it-works-page .header-info .info h1{
		font-size: 38px;
	}
	.tabs-content .how-title{
		font-size: 36px;
	}
	
	hr{
		margin: 20px auto 40px	
	}
	
	.square-block-img img{
		width: 100px;
		margin-bottom: 10px;
	}
}
