
ul{
	list-style: none;
}

.top-bar-section ul li > a{
	font-size: 1em;
}

.hero{
	background-image: url("/assets/images/hero3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
	width: 100%;
}

.hero .info {
	padding-top: 150px;	
}

.hero .info h1{
	color: #fff;
	font-family: 'PT Sans' !important;
}

.home .section{
	min-height: 420px;
	height: auto;
}

.home .section h1{
	font-family: 'PT Sans' !important;
	margin-top: 15px;
	color: #575757;
}

.home .what-is .row{
	margin-top: 40px;
}

.home .what-is .panel{
	border-radius: 3px;
}
.home .what-is .panel img{
	border: 2px solid;
	padding: 11px;
	border-radius: 30px;
	margin-bottom: 5px;
}

.home .what-is .panel h5{
	font-family: "PT Sans";
	font-size: 22px;
	color: #608c28;
	font-weight: bold;
	width: auto;
	font-style: italic;
}

.home .break1{
	background-image: url("/assets/images/break2.jpg");
}

.home .break1 h1{
	color: #fff;
	font-family: "PT Sans";
	padding-top: 160px;
}

.home .break1 h3{
	color: #fff;
	font-family: "PT Sans";
}

.home .what-you-can-do, .home .how-it-works{
	min-height: 300px;
	height: auto;
}

.home .what-you-can-do h1, .home .how-it-works{
	font-family: "PT Sans";
	margin-top: 15px;
	color: #575757;
}

.home .what-you-can-do ul, .home .how-it-works ul{
	margin-top: 40px;
}

.home .what-you-can-do ul li img{
	display: block;
	margin: auto;
}
.home .what-you-can-do ul li span{
	font-size: 20px;
	color: #608c28;
}

.home .how-it-works ul li span{
	font-size: 20px;
	color: #608c28;
}

.home .how-it-works ul li img{
	margin: auto;
	margin-bottom: 5px;
	display: block;
}

.home .how-it-works .info-container{
	border: 2px solid;
	padding: 11px;
	border-radius: 50px;
}

.read-more-link{
	font-size: 18px;
	color: #608c28;
	font-weight: 700;
  margin: 30px 0;
	display: block;
}

.features {
  text-align: center; }
	.features h1{
		font-family: "PT Sans";
		margin-top: 15px;
		color: #575757;}
  .features hr {
    width: 25%;
    margin: 1rem auto; }
  .features .round-icon {
    background-color: #E87E04;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: -61px auto 1rem;
    width: 100px;
    font-size: 3rem; }
    .features .round-icon span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  @media only screen and (max-width: 40em) {
    .features .columns {
      margin-bottom: 5rem; } }


.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 3rem; }
.footer p.slogan {
	color: #608c28;
	font-size: 1.8rem;
	margin: 0 0 1rem; }
.footer p.copywrite {
	color: #8f9296;
	font-size: 0.875rem;
	margin: 0; }
.footer .links a {
	list-style: none;
	font-weight: bold;
	color: #ffffff;
	padding: 3rem 0 2rem;
	margin: 0; }
	.footer .links a::after {
		content: "•";
		padding: 0 0.4rem 0 0.8rem; }
	.footer .links a:last-child::after {
		content: "";
		padding: 0 0.4rem 0 0.8rem; }


