<div class="new-contest" data-ng-controller="ContestController" data-ng-init="">
	<div class="section text-center header-info">
		<div class="info">
			<h1>Crie sua Competição</h1>
			<h3>Competições e projetos de nossos clientes</h3>
		</div>
		<hr>
	</div>

	<div class="row">
  <div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Banner Estático</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are
			<a href="competicoes/novo/step2/static" class="button next-step">R$ 199,00</a>
			</p>
    </div>
  </div>
		
		<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Banner Dinamico</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are 
				<a href="#" class="button next-step">R$ 199,00</a>
			</p>
    </div>
  </div>
		
		<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Flayer</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are
			<a href="#" class="button next-step">R$ 199,00</a>
			</p>
    </div>
  </div>
		
		<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Poster</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are
			<a href="#" class="button next-step">R$ 199,00</a>
			</p>
    </div>
  </div>
		
		<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Outdoor</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are
				<a href="#" class="button next-step">R$ 199,00</a>
			</p>
    </div>
  </div>
		
	<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Revistas/Jornais</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are
				<a href="#" class="button next-step">R$ 199,00</a>
			</p>
			
    </div>
  </div>
	
	<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Internet</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are
				<a href="#" class="button next-step">R$ 199,00</a>
			</p>
    </div>
  </div>
	
	<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Apps</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are
				<a href="#" class="button next-step">R$ 199,00</a>
			</p>
    </div>
  </div>
		
</div>

</div>