<div class="competitions" data-ng-controller="MainController" data-ng-init="getComps()">
	<div class="section text-center header-info">
		<div class="info">
			<h1>Competições</h1>
			<h3>Competições e projetos de nossos clientes</h3>
		</div>
		<hr>
	</div>

	<div class="row">
		<div class="small-9 columns small-centered">
			<article class="event">
					<div class="event-date">
						<p class="event-month">Sept</p>
						<p class="event-day">18</p>
					</div>
					<div class="event-desc">
						<h4 class="event-desc-header">Design de um banner para empresa de software</h4>
						<p class="event-desc-detail"><span class="event-desc-time"></span>por: EasyAd</p>
						<a href="http://bdconf.com/speakers/brandon-arnold/" class="rsvp button">Detalhes</a>
					</div>
				</article>
				<article class="event">
					<div class="event-date">
						<p class="event-month">Oct</p>
						<p class="event-day">21</p>
					</div>
					<div class="event-desc">
						<h4 class="event-desc-header">Anúncio embutido em um app. Apenas banner</h4>
						<p class="event-desc-detail"><span class="event-desc-time"></span>por: EasyAd</p>
						<a href="http://bdconf.com/speakers/brandon-arnold/" class="rsvp button">Details</a>
					</div>
				</article>
		</div>
	</div>
</div>