<div class="new-contest new-contest-2" data-ng-controller="MainController" data-ng-init="getComps()">
	<div class="section text-center header-info">
		<div class="info">
			<h1>Competições</h1>
			<h3>Competições e projetos de nossos clientes</h3>
		</div>
		<hr>
	</div>
	<div class="inquire">
		<div class="row">
			<div class="large-4 smal-12 header columns">
				<h3>Informações gerails</h3>
			</div>
			<div class="large-8 small-12 desc columns">
				<label class="field-title">Qual o nome de sua organização?
					<input type="text" placeholder="Ex. Google" />
				</label>
				<label class="field-title">Descreva o que seu produto ou organização faz e qual o publico alvo
					<textarea placeholder="Ex. Somos um loja de discos e temos discos para todo os gostos"></textarea>
				</label>
				<label class="field-title">Selecione seu tipo de indústria
					<select>
						<option value="husker">Husker</option>
						<option value="starbuck">Starbuck</option>
						<option value="hotdog">Hot Dog</option>
						<option value="apollo">Apollo</option>
					</select>
				</label>
			</div>
		</div>
	
		<div class="row">
			<div class="large-4 smal-12 header columns">
				<h3>Detalhes do conteudo</h3>
			</div>
			<div class="large-8 small-12 desc columns">
				<label class="field-title">Descreva o que você quer desenhar
					<textarea></textarea>
					<span class="details">Describe your aims and requirements in detail here — the more specific, the better. Tell the designers what is required, but also let them know where they’re free to be creative.</span>
				</label>
			</div>
		</div>
		
		<div class="row">
			<div class="large-4 smal-12 header columns">
				<h3>Mais..</h3>
			</div>
			<div class="large-8 small-12 desc columns">
				<label class="field-title">Alguma outra informação que você queira dizer para nossos designers?
					<textarea></textarea>
				</label>
				<label class="field-title">Você tem alguma images, algum rascunho ou documento que posssa ser útil?
					<input type="file">
					<span class="details">Ex. Seu logo, fotos, ilustrações, idéias, etc..</span>
				</label>
			</div>
		</div>
		
	</div>

</div>